
.article {
  border-color: #e2e7ea;
}

#content article a h2 code {
  color: #657e8b;
}

#content article a h2 code b {
  background: #657e8b;
  text-transform: uppercase;
}

/* GET */
#content article.GET a h2 code {
  color: #119bdf;
}

#content article.GET a h2 code b {
  background: #119bdf;
}

/* POST */
#content article.POST a h2 code {
  color: #52ce0e;
}

#content article.POST a h2 code b {
  background: #52ce0e;
}

/* PUT */
#content article.PUT a h2 code {
  color: #e08f10;
}

#content article.PUT a h2 code b {
  background: #e08f10;
}

/* DELETE */
#content article.DELETE a h2 code {
  color: #e02a10;
}

#content article.DELETE a h2 code b {
  background: #e02a10;
}
