<!DOCTYPE HTML>
  <html id="sg" {% if site.language %} lang="{{ site.language }}"{% endif %}>

  <head>
    {% include header.html %}
  </head>

  <body id="sg">
    <div class="sg-pusher">
      {% include sidebar.html %}
      <div class="content article a h2 code">
        <h1 class="content article.GET a h2 code">API´s Documentación</h1>
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    <!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
    <script src='assets.js' type='text/javascript'></script>
    <script>require('boot');</script>
     </body>
</html>
